* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.calculator {
    width: 300px;
    background-color: #aaa;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid black;
}

.display {
    background-color: #eee;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    text-align: right;
    margin-bottom: 20px;
}

.previous {
    min-height: 32px;
    font-size: 20px;
}

.current {
    min-height: 64px;
    font-size: 40px;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 15px;
    background-color: #eee;
    border: 1px solid black;
    border-radius: 5px;
}

.span-two {
    grid-column: span 2;
}